.navbar {
    width: 100%;
    position: relative;
    height: 60px;
    background-color: $light-color;
}

.navbar-container {
    display: flex;
    flex-direction: column;
}

.navbar-header {
    padding: 0.5rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        max-height: 40px;
    }
    .toggle-btn {
        font-size: 1.5rem;
        color: $dark-color;
        background: transparent;
        border-color: transparent;
        transition: $transition;
        cursor: pointer;
        outline: none;
    }
}

.navbar-links-container {
    height: 0;
    overflow: hidden;
    transition: $transition;
    background-color: $light-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-container {
    height: 200px;
}

.navbar-links {
    li{
        display: block;
        margin: 1rem 0;
    }
    a {
        color: $dark-color;
        font-size: 1.5rem;
        text-transform: capitalize;
        display: block;
        padding: 0 1rem;
    }
}

.nav-cart-icon {
    position: relative;
    width: 30px;
    height: 30px;
}

.products-number {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background: $dark-color;
    width: 1.2rem;
    height: 1.2rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: $light-color;
    font-weight: bold;
    font-size: 0.8rem;
}

@media screen and (min-width: 800px) {
    .navbar-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1170px;
        margin: 0 auto;
    }

    .toggle-btn {
        display: none;
    }

    .navbar-links-container {
        height: 50px;
    }
    .navbar-links {
        display: flex;
        padding: 0 1rem;
        li{
            margin-top: 0;
            margin-bottom: 0;
            width: 100%;
        }
        a {
            padding: 0;
            margin: 0 0.5rem;
            &:hover {
                padding: 0;
            }
        }
    }
}
